<html>


<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
	</head>

<body>
{% include "nav.html" %}
{% include "flash.html" %}
	
<h1> Edit Shoe Store </h1>
<div class="pane">

<form action="{{ url_for('editShoeStore',shoeStore_id = shoeStore.id)}}" method = 'post'>


	<p>Name for Shoe Store:</p>
		<input type ='text' size='30' name='name' placeholder = '{{shoeStore.name }}'>


<input type='submit' value='Edit'>


<a href = '{{url_for('showShoeStores')}}'> Cancel </a>

</form>
</div>
</body>

</html>
