<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>


<body>
{% include "nav.html" %}
{% include "flash.html" %}


<div class="pane">
<h1>Shoe Stores</h1>

<a href="{{url_for('newShoeStore')}}" > <h3> Create a Shoe Store </h3> </a>

{% for shoeStore in shoeStores %}



<a href = "{{url_for('shoeStoreMenu', shoeStore_id = shoeStore.id)}}"> <p>{{shoeStore.name}}</p></a>

<p><a href = "{{url_for('editShoeStore',shoeStore_id = shoeStore.id)}}">Edit Shoe Store</a></p>

<p> <a href = "{{url_for('deleteShoeStore',shoeStore_id = shoeStore.id)}}">Delete Store</a> </p>




{% endfor %}

</div>
</body>

</html>
